#content {
    padding: 20px 0 70px 0;
}

/* header */
header {
    height: 63px;
    padding: 20px 0 15px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .img-logo {
    width: 100px;
    height: 100%;
}

header ul {
    display: flex;
    align-items: center;
    gap: 11px;
}

header .btn {
    font-size: 13px;
    padding: 0 7px;
}

/* end header */
/* nav */
nav {
    background-color: #0068b7;
    height: 50px;
}

nav .container {
    height: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 35px;
}

nav ul li {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

/* nav ul li:hover,
nav ul li a.active {
    color: #00ffff;
} */

/* end nav */
/* checkbox */
.item-checkBox {
    line-height: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.item-checkBox input[type="radio"]+span+label {
    padding-left: 10px;
}

.item-checkBox input[type="radio"]+span+label span {
    padding-left: 0;
}

.item-checkBox input[type="checkbox"],
.tab-check-box li input[type="checkbox"] {
    display: none;
}

.item-checkBox input[type="checkbox"]+span,
.tab-check-box input[type="checkbox"]+span {
    position: absolute;
    left: 0;
}

.item-checkBox input[type="checkbox"]+span::before {
    content: "";
    background: url('../images/icons/icon-checked-blue.png') no-repeat center /100%;
    width: 10px;
    height: 8px;
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-checkBox input[type="radio"]+span::before {
    content: "";
    background: url('../images/icons/icon-checked-blue.png') no-repeat center /100%;
    width: 10px;
    height: 8px;
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-checkBox input[type="checkbox"]:checked+span::before,
.item-checkBox input[type="radio"]:checked+span::before {
    opacity: 1;
}

.item-checkBox>span {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #ccc;
    position: absolute;
    cursor: pointer;
    background-color: #fff;
}

.item-checkBox input[type="checkbox"]:checked+span {
    border-color: #0068b7;
}

.item-checkBox label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #666;
    padding-left: 25px;
    z-index: 1;
}

.item-checkBox label span {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    padding-left: 25px;
}

/* end checkbox */

/* Pagination number*/
.pagination-arrow.disable {
    cursor: no-drop;
}

.pagination-arrow.icon-next:after {
    transform: translateX(1px);
}

.wrap-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 30px;
}

.pagination-number {
    display: flex;
    gap: 8px;
}

.pagination-number li.more {
    display: flex;
    align-items: center;
    cursor: default;
}

.pagination-number li a {
    width: fit-content;
    min-width: 20px;
    height: 20px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 300;
    color: #999;
    font-size: 15px;
    line-height: 16px;
}

.pagination-number li.active a {
    cursor: pointer;
}

.pagination-number li.active a,
.pagination-number li:hover a {
    font-weight: 700;
    color: #0068b7;
}

/* End Pagination number*/


.select-basic {
    width: 150px;
    height: 30px;
    font-size: 14px;
    font-weight: 300;
    color: #666;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: url('../images/icons/icon-down-select.png') no-repeat right 13px center;
    background-size: 10px 6px;
    padding: 0 13px;
    border: 1px solid #ddd;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

/* Table blue */

table.table-gray tfoot {
    width: 100%;
    background-color: #f9f9f9;
}

table.table-gray tfoot tr td {
    color: #333;
    border: 1px solid #ddd;
}

table.table-gray th,
table.table-gray td {
    text-align: center;
    padding: 8px 15px;
    vertical-align: middle;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
}

table.table-gray {
    width: 100%;
}

table.table-gray thead {
    width: 100%;
    background-color: #f9f9f9;
}

table.table-gray thead tr th {
    color: #333;
    border: 1px solid #ddd;
}

table.table-gray tbody tr td {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow-wrap: break-word;
    word-break: keep-all;
}

table.table-gray tbody tr td:last-child {
    border-right: 1px solid #ddd;
}

/* Popup */
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#popup .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#popup .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
    width: 20px;
    height: 20px;
}

#popup .popup-close::before,
#popup .popup-close::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #000;
    top: 50%;
    left: 50%;
}

#popup .popup-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#popup .popup-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

#popup .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: auto;
    background-color: #fff;
    padding: 20px;
}

#popup .popup-content .popup-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

#popup .popup-content .popup-table {
    width: 100%;
}

#popup .popup-content .popup-table .table-row {
    display: flex;
    border: 1px solid #ddd;
    border-bottom: none;
}

#popup .popup-content .popup-table .table-row:last-child {
    border-bottom: 1px solid #ddd;
}

#popup .popup-content .popup-table .table-row .table-row-title {
    width: 10%;
    text-align: center;
    padding: 13.5px 0;
    background-color: #f9f9f9;
    height: 100%;
    margin: auto;
}

#popup .popup-content .popup-table .table-row .table-row-content {
    width: 90%;
    text-align: center;
    border-left: 1px solid #ddd;
    padding: 6px;
    font-size: 14px;
    height: 45px;
}

#popup .popup-content .popup-table .table-row .table-row-content input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border: 1px solid #ddd;
}

#popup .popup-content .popup-table .table-row .table-row-content select {
    width: 50%;
    height: 100%;
    border: 1px solid #ddd;
    display: flex;
    justify-content: start;
    cursor: pointer;
}

#popup .popup-content .popup-table .table-row .table-row-content.left {
    width: 60%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}


#popup .popup-content .popup-table .table-row .table-row-content.right {
    width: 20%;
    border-left: 1px solid #ddd;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left {
    text-align: left;
    display: flex;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left .radio-group {
    width: 20%;
}


#popup .popup-content .popup-table .table-row .table-row-content.t-left .reason-group {
    width: 44%;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left .reason-input {
    width: 36%;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left .radio-group .item-radioBox {
    height: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left .radio-group .item-radioBox input,
#popup .popup-content .popup-table .table-row .table-row-content.t-left .radio-group .item-radioBox label {
    cursor: pointer;
    font-size: 14px;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left .radio-group .item-radioBox+.item-radioBox {
    margin-top: 5px;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left .reason-group>div {
    height: 32px;
    display: flex;
    align-items: center;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left .reason-group>div+div {
    margin-top: 5px;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left .reason-input>div {
    height: 32px;
    display: flex;
    align-items: center;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left .reason-input>div+div {
    margin-top: 5px;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left .reason-group>div .reason-group-title {
    width: 80px;
    font-size: 14px;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left .reason-input>div .reason-group-title {
    width: 55px;
    min-width: 55px;
    font-size: 14px;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left input {
    padding: 5px 15px;
    border: 1px solid #ddd;
    font-size: 14px;
}

#popup .popup-content .popup-table .table-row .table-row-content.t-left .reason-input>div input {
    width: 210px;
}

#popup .popup-button {
    background-color: #ddd;
    padding: 10px 15px;
    width: 100px;
    margin: 20px auto 0;
    display: block;
    cursor: pointer;
}

/* Radio box */
.item-radioBox {
    line-height: 1;
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

.item-radioBox input[type="radio"],
.tab-check-box li input[type="radio"] {
    display: none;
}

.item-radioBox input[type="radio"]+span,
.tab-check-box input[type="radio"]+span {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.item-radioBox input[type="radio"]+span::before {
    content: "";
    background: #0068b7;
    width: 7px;
    height: 7px;
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.item-radioBox input[type="radio"]:checked+span::before {
    opacity: 1;
}

.item-radioBox>span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    position: absolute;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
}

.item-radioBox input[type="radio"]:checked+span {
    border-color: #0068b7;
}

.item-radioBox label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 31px;
    color: #888;
    z-index: 1;
}

.item-radioBox label span {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 31px;
    color: #333;
    padding-left: 24px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-CheckGroup {
    display: flex;
    justify-content: space-around;
}