.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon::after {
    content: '';
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-nav-user::after {
    background-image: url('../images/icons/icon-nav-user.png');
}

.icon-lock::after {
    background-image: url('../images/icons/icon-lock.png');
}