#form-login {
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
}

#form-login .form-login-content {
    width: 640px;
    height: 342px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 59px 119px;
    border-radius: 10px;
    background-color: #fff;
}

#form-login .form-login-content .form-login-logo {
    width: fit-content;
    position: absolute;
    top: -93px;
}

#form-login .form-login-content form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-login .form-login-content form label {
    position: relative;
}

#form-login .form-login-content form label .icon-nav-user {
    width: 12px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
}

#form-login .form-login-content form label .icon-lock {
    width: 14px;
    height: 16px;
    top: 50%;
    left: 19px;
    position: absolute;
    transform: translateY(-50%);
}

#form-login .form-login-content form label input {
    width: 100%;
    height: 55px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0 20px 0 40px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    color: #333;
}

#form-login .form-login-content form label input::placeholder {
    color: #999;
}

#form-login .form-login-content form button {
    margin-top: 10px;
    width: 100%;
    height: 55px;
    background-color: #0068b7;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    border-radius: 2px;
}