.top-nav {
    background-color: #999;
    height: 40px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav div {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}

.top-nav button.close {
    width: 14px;
    height: 14px;
    position: relative;
}

.top-nav button.close::before {
    content: "";
    width: 16px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
}

.top-nav button.close::after {
    content: "";
    width: 16px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
    position: absolute;
    left: 0;
}

/* Profile Sidebar */
#content {
    padding: 0 0 70px;
}

.container-fluid {
    padding: 0;
}

.profile {
    display: flex;
}

.profile-sidebar {
    width: 100%;
    max-width: 330px;
    border-right: 1px solid #ddd;
    height: 100%;
}

.profile-sidebar .profile-user {
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-sidebar .profile-user .profile-user-img {
    margin-bottom: 15px;
}

.profile-sidebar .profile-user .profile-user-img img {
    height: 64px;
}

.profile-user-name {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}

.profile-user-position {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}

.group-profile-button {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.group-profile-button-top {
    margin-top: 15px;
    display: flex;
    gap: 2px;
    max-width: 250px;
    width: 100%;
}

.group-profile-button-top a {
    font-size: 15px;
    font-weight: 300;
    color: #999;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 2px;
    height: 30px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-profile-button-top a:hover {
    border-color: #0068b7;
    color: #0068b7;
    font-weight: 500;
}

.group-profile-button-bottom {
    width: 100%;
    max-width: 250px;
}

.group-profile-button-bottom a {
    width: 100%;
    border-radius: 3px;
    height: 35px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #0068b7;
}

.icon-user-profile {
    width: 12px;
    height: 16px;
}

.icon-bag {
    width: 16px;
    height: 16px;
}

.icon-list {
    width: 14px;
    height: 16px;
}

.icon-file {
    width: 14px;
    height: 16px;
}

.profile .profile-sidebar>ul {
    border-top: 1px solid #ddd;
}


.profile .profile-sidebar>ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 40px;
    height: 51px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.profile .profile-sidebar>ul li a:hover,
.profile .profile-sidebar>ul li a.active {
    background-color: #e0edf7;
    color: #0068b7;
}

.profile .profile-sidebar>ul li a:hover:after,
.profile .profile-sidebar>ul li a.active:after {
    content: "";
    width: 6px;
    height: 10px;
    background: url('../images/icons/icon-right-active.png') no-repeat center / 100%;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.profile .profile-sidebar>ul li a.active .icon-user-profile::after,
.profile .profile-sidebar>ul li a:hover .icon-user-profile::after {
    background-image: url('../images/icons/icon-user-profile.png');
}

.profile .profile-sidebar>ul li a.active .icon-bag::after,
.profile .profile-sidebar>ul li a:hover .icon-bag::after {
    background-image: url('../images/icons/icon-bag.png');
}

.profile .profile-sidebar>ul li a.active .icon-list::after,
.profile .profile-sidebar>ul li a:hover .icon-list::after {
    background-image: url('../images/icons/icon-list.png');
}

.profile .profile-sidebar>ul li a.active .icon-file::after,
.profile .profile-sidebar>ul li a:hover .icon-file::after {
    background-image: url('../images/icons/icon-file.png');
}

/* right sidebar */
.profile-content {
    padding: 40px;
}